* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #1b3179;
}
#contenedor {
    width: 98%;
    margin-top: 15px;
    margin-bottom: 10px;
    margin-right: auto;
    margin-left: auto;
    border: 6px solid #0e193d;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    background-color: #DFCEB0;
}
header img {
    width: 100%;
    vertical-align: bottom;
}
nav.inicio ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #b93136;
}
nav.inicio ul li {
    float: left;
}
nav.inicio ul li a {
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: bold;
    font-size: 23px;
    font-weight: bold;
}
nav.inicio ul li a:hover {
    background-color: #ffffff ;
    color:#ff0000 ;
}
.inicio {
    background-color: #f18184; 
    box-shadow: 0px 8px 16px 0px rgba(36, 36, 36, 0.4);
}




/* --------------DESPLEGABLE---------------- */

nav.superior {
    text-align: center;
}
nav.superior ul {
    list-style-type: none;
    overflow: hidden;
    display: flex;
    background-color: #f18184;
}
nav.superior ul li {
    margin: auto;  
}
nav.superior ul li a {
    display: block;
    color: #000000;
    text-align: center;
    padding: 20px;
    text-decoration: none;
    font-family: bold;
    font-size: 30px;
    font-weight: bold;
}
nav.superior ul li a:hover {
  
    background-color: #f18184;
    color:#000000 ;
    box-shadow: 0px 8px 16px 0px rgba(255, 255, 255, 0.4); 
    font-size: 32px;
    
}


main {
    background-image: url(../imagenes/fondos/fondo-main1.jpg);
 }


/*----------------------Subtitulos-----------------------------*/
h2.subtitulo {
    display: block;
}
.subtitulo {
    text-align: center;
    background-color: #1b3179;
    color: #DFCEB0;
    padding: 20px;
    font-size: 25px;
}
.subtitulo h2 {
    margin-bottom: 10px;
}

/*---------------------imagenes, descripcion-----------------------------*/

section.menu {

    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #3780e0;
}
section.menu figure {
    width: 39%;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 10px solid #b93136;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: #DFCEB0;
    box-shadow: 0px 8px 16px 0px rgba(240, 55, 55, 0.5);
}
section figure img {
    width: 70%;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 25px;
    box-shadow: 0px 8px 16px 0px rgba(255, 255, 255, 0.3);
}
section figure figcaption {
    margin-bottom: 20px;
    padding: 10px;
    text-align: center;
    font-size: 25px;
    font-weight: bolder;
}

















footer {
    background-color: rgb(43, 47, 53);
    color: azure;
    display: flex;
}
.footerS {
    width: 100%;
    display: block;
    margin-top: 30px;
    margin-bottom: 15px;
    margin-left: 50px;
    margin-right: 0;
}
.footerS h3 {
    padding-bottom: 15px;
}
.footerS ul {
    margin-left: 20px;
}

/*---------------------sub footer---------------*/
div.fimg {
    background-color: rgb(28, 30, 34);
    color: rgb(224, 177, 75);
    text-align: center;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.fimg p {
    padding: 15px;
}
.fimg a img {
    padding-top: 15px;
}
