* {
    margin: 0;
    padding: 0;
}
body {
    background-color: rgb(25, 51, 80);
}
#contenedor {
    width: 96%;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: auto;
    margin-left: auto;
}
header img {
    width: 100%;
    vertical-align: bottom;
}
nav.inicio ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #eccb8d;
}
nav.inicio ul li {
    float: left;
}
nav.inicio ul li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 18px;
    font-weight: bold;
}
nav.inicio ul li a:hover {
    background-color: rgb(255, 255, 255) ;
    color:#0c0c3c ;
}
li a:hover:not(.inicio) {
    background-color: #111;
  }
  
.inicio {
    background-color: #fffafa;
}



h1 {
    display: block;
    text-align: center;
    background-color: rgb(255, 255, 255);
    color: rgb(25, 51, 80);
    padding: 2%;
    font-size: 50px;
}


section{
    padding: 5%;
    display: flex;
    flex-direction: row;

    justify-content: space-around;
    flex-wrap: wrap;
}
section figure{
    width: 30%;
    margin-top: 10px;
    margin-bottom: 10px;
    border-width: 10px;
    border-style: solid;
    border-color: rgb(255, 255, 255);
    border-radius: 15px;
}
section figure img{
    width: 80%;
    margin: auto;
    padding: 25px;
    display: block;
}
section figure figcaption{
    margin: 10px;
    text-align: center;
}
figure {
    background-color: #83d6fd;
}
span.precios {
    font-size: 50px;
}



main {
    text-align: center;
    background-image: url(../imagenes/fondos/textura-1.jpeg);
}
p {
    font-size: 30px;
    color: white;
}


/*----------------------Footer---------------*/

footer {
    background-color: rgb(43, 47, 53);
    color: azure;
    display: flex;
}
.footerS {
    width: 100%;
    display: block;
    margin-top: 30px;
    margin-bottom: 15px;
    margin-left: 50px;
    margin-right: 0;
}
.footerS h3 {
    padding-bottom: 15px;
}
.footerS ul {
    margin-left: 20px;
}

/*----------------------sub footer---------------*/
div.fimg {
    background-color: rgb(43, 47, 53);
    color: rgb(224, 177, 75);
    text-align: center;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.fimg p {
    padding: 15px;
}
.fimg a img {
    padding-top: 15px;
}